# Compiled class file
*.class
src/HW2/src/cd/frontend/.DS_Store
# Log file
*.log
*.DS_Store

# Prefs files
*.prefs

# svn repo
src/.svn/

# .err files
*.err
*.javali.err

# javali shit 
*.bin
*.s

# ref files
*.ref

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
src/.DS_Store
src/HW2/.DS_Store
src/HW2/src/.DS_Store
src/HW2/src/cd/.DS_Store
src/.metadata/
src/.recommenders/
src/HW2/bin/cd/
src/HW4/.metadata/
